@use '../../styles/variables' as variables;

$header-height: 48px;

.header-bar {
  width: 100vw;
  height: $header-height;
  box-sizing: border-box;
  padding: 8px 16px;
  color: #fff;
  background-color: variables.$secondary-bg-color;
  box-shadow: 0 6px 10px rgb(0 0 0 / 16%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  &__title {
    color: variables.$primary-color;
    line-height: $header-height - 16px;
    font-weight: 600;
    flex: 1;
  }
  button {
    height: $header-height - 16px;
  }
}

.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  padding-top: $header-height;

  .card--dashboard {
    margin-top: 2rem;
    padding: 2rem 4rem;
    justify-content: flex-start;
  }

  dt {
    font-weight: bold;
    display: block;
  }

  dd {
    display: inline-block;
    color: variables.$secondary-text-color;
  }

}
