@use '../../styles/variables' as variables;

.header-bar {
  width: 100vw;
  height: 48px;
  box-sizing: border-box;
  padding: 8px 16px;
  color: #fff;
  background-color: variables.$secondary-bg-color;
  box-shadow: 0 6px 10px rgb(0 0 0 / 16%);
  display: flex;
  &__title {
    color: variables.$primary-color;
    line-height: 48px - 16px;
    font-weight: 600;
    flex: 1;
  }
  button {
    height: 48px - 16px;
  }
}

.layout {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .card {
    margin-top: 2rem;
    padding: 2rem 4rem;
  }

  dt {
    font-weight: bold;
    display: block;
  }

  dd {
    display: inline-block;
    color: variables.$secondary-text-color;
  }

}
