/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as variables;
@import 'styles/input';
@import 'styles/button';
@import 'styles/card';

html,
body {
  height: 100%;
  margin: 0;
  background-color: #fff5f5;
  overflow: hidden;
  font-family: 'Lato';
  font-style: normal;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: variables.$primary-text-color;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h2 {
  color: variables.$secondary-text-color;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
